<header>
  <nav>
    <ul>
      <li><a href="/alumnos">Lista de Alumnos</a></li>
      <li><a href="/alumnos/nuevoAlumno"> Nuevo Alumno</a></li>
      <li><a href="/addEvent">Crear evento</a></li>

    </ul>

  </nav>
</header>

<div style="background-color: blue">
</div>