<header>
  <nav>
    <ul>
      <li><a href="/">Volver</a></li>
    </ul>
  </nav>
</header>
<section>


  <h3></h3>
  <form method="POST" action="/alumnos/nuevoAlumno" id="form-container">
    <label for="nombre">Nombre
      <input type="text" name="nombre" placeholder="Nombre" required>
    </label>
    <label for="apellidos">Apellidos
      <input type="text" name="apellidos" placeholder="Apellidos" required>
    </label>
    <label for="programa">Programa
      <input id="text" type="text" name="programa" placeholder="Programa" required>
    </label>
    <label for="nivelActual">Nivel Actual
      <input type="text" name="nivelActual" placeholder="Nivel Actual" required>
    </label>
    <div></div>
    <button type="submit">CREAR</button>
  </form>